@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Helvetica_Neue_1.ttf) format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./Helvetica_Neue_2.ttf) format('woff');
}
